shamefully-hoist = true
electron_mirror = https://npm.taobao.org/mirrors/electron/

//npm.pkg.github.com/:_authToken=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
